.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.logo {
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu__item {
    color: rgb(98, 98, 98);
    margin-right: 50px;
}
.image-container {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px; /*padding: 0 50px;*/
}